/*
 * @file
 * Provides the layout styles for layout_25_25_25_25.
 */

.layout--25-25-25-25,
.layout--25-25-25-25 > .layout--container {
  display: flex;
  flex-wrap: wrap;
}

.layout--25-25-25-25 > .layout__region,
.layout--25-25-25-25 > .layout--container > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--25-25-25-25 > .layout__region--first,
  .layout--25-25-25-25 > .layout--container > .layout__region--first {
    flex: 0 1 calc(25% - 1.5em);
    min-width: calc(25% - 1.5em);
    max-width: calc(25% - 1.5em);
    margin-right: 1em;
  }

  .layout--25-25-25-25 > .layout__region--second,
  .layout--25-25-25-25 > .layout--container > .layout__region--second {
    flex: 0 1 calc(25% - 1.5em);
    min-width: calc(25% - 1.5em);
    max-width: calc(25% - 1.5em);
    margin-right: 1em;
    margin-left: 1em;
  }

  .layout--25-25-25-25 > .layout__region--third,
  .layout--25-25-25-25 > .layout--container > .layout__region--third {
    flex: 0 1 calc(25% - 1.5em);
    min-width: calc(25% - 1.5em);
    max-width: calc(25% - 1.5em);
    margin-right: 1em;
    margin-left: 1em;
  }

  .layout--25-25-25-25 > .layout__region--fourth,
  .layout--25-25-25-25 > .layout--container > .layout__region--fourth {
    flex: 0 1 calc(25% - 1.5em);
    min-width: calc(25% - 1.5em);
    max-width: calc(25% - 1.5em);
    margin-left: 1em;
  }
}
