/*
 * @file
 * Provides the layout styles for layout_hero.
 */

.layout--hero,
.layout--hero > .layout--container {
  display: flex;
  flex-wrap: wrap;
}

.layout--hero > .layout__region,
.layout--hero .layout--container > .layout__region {
  flex: 0 1 100%;
}
