{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout',
'layout--66-33',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if not settings.full_width %}
        <div class="layout--container">
        {% endif %}
        {% if content.first %}
            <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
                {{ content.first }}
            </div>
        {% endif %}

        {% if content.second %}
            <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
                {{ content.second }}
            </div>
        {% endif %}
        {% if not settings.full_width %}
        </div>
        {% endif %}
    </div>
{% endif %}
