/*
 * @file
 * Provides the layout styles for layout_33_34_33.
 */

.layout--33-34-33,
.layout--33-34-33 > .layout--container {
  display: flex;
  flex-wrap: wrap;
}

.layout--33-34-33 > .layout__region,
.layout--33-34-33 > .layout--container > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--33-34-33 > .layout__region--first,
  .layout--33-34-33 > .layout--container > .layout__region--first {
    flex: 0 1 calc(33% - 1em);
    min-width: calc(33% - 1em);
    max-width: calc(33% - 1em);
    margin-right: 1em;
  }

  .layout--33-34-33 > .layout__region--second,
  .layout--33-34-33 > .layout--container > .layout__region--second {
    flex: 0 1 calc(34% - 2em);
    min-width: calc(34% - 2em);
    max-width: calc(34% - 2em);
    margin-right: 1em;
    margin-left: 1em;
  }

  .layout--33-34-33 > .layout__region--third,
  .layout--33-34-33 > .layout--container > .layout__region--third {
    flex: 0 1 calc(33% - 1em);
    min-width: calc(33% - 1em);
    max-width: calc(33% - 1em);
    margin-left: 1em;
  }
}
