/*
 * @file
 * Provides the layout styles for layout_33_66.
 */

.layout--33-66,
.layout--33-66 > .layout--container {
  display: flex;
  flex-wrap: wrap;
}

.layout--33-66 > .layout__region,
.layout--33-66 > .layout--container > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--33-66 > .layout__region--first,
  .layout--33-66 > .layout--container > .layout__region--first {
    flex: 0 1 calc(34% - 1em);
    min-width: calc(34% - 1em);
    max-width: calc(34% - 1em);
    margin-right: 1em;
  }

  .layout--33-66 > .layout__region--second,
  .layout--33-66 > .layout--container > .layout__region--second {
    flex: 0 1 calc(66% - 1em);
    min-width: calc(66% - 1em);
    max-width: calc(66% - 1em);
    margin-left: 1em;
  }
}
