/*
 * @file
 * Provides the layout styles for layout_50_50.
 */

.layout--50-50,
.layout--50-50 > .layout--container {
  display: flex;
  flex-wrap: wrap;
}

.layout--50-50 > .layout__region,
.layout--50-50 > .layout--container > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--50-50 > .layout__region--first,
  .layout--50-50 > .layout__region--second,
  .layout--50-50 > .layout--container > .layout__region--first,
  .layout--50-50 > .layout--container > .layout__region--second {
    flex: 0 1 calc(50% - 1em);
    min-width: calc(50% - 1em);
    max-width: calc(50% - 1em);
  }

  .layout--50-50 > .layout__region--first,
  .layout--50-50 > .layout--container > .layout__region--first {
    margin-right: 1em;
  }

  .layout--50-50 > .layout__region--second,
  .layout--50-50 > .layout--container > .layout__region--second {
    margin-left: 1em;
  }

}
