/*
 * @file
 * Provides the layout styles for layouts_navigation.
 */

.layouts--navigation,
.layouts--navigation > .layout--container {
  display: flex;
  flex-wrap: wrap;
}

.layouts--navigation > .navigation--logo,
.layouts--navigation > .layout--container > .navigation--logo,
.layouts--navigation > .navigation--menu,
.layouts--navigation > .layout--container > .navigation--menu,
.layouts--navigation > .layout__region,
.layouts--navigation > .layout--container > .layout__region {
  flex: 0 1 100%;
}

.layouts--navigation > .menu,
.layouts--navigation > .layout--container > .menu {
  display: flex;
}

.layouts--navigation > .menu>.menu-item,
.layouts--navigation > .layout--container > .menu>.menu-item {
  margin-right: 1em;
}

@media screen and (min-width: 40em) {
  .layouts--navigation > .navigation--logo,
  .layouts--navigation > .layout--container > .navigation--logo {
    flex: 0 1 calc(20% - 1em);
    min-width: calc(20% - 1em);
    max-width: calc(20% - 1em);
    margin-right: 1em;
  }

  .layouts--navigation > .navigation--menu,
  .layouts--navigation > .layout--container > .navigation--menu {
    flex: 0 1 calc(80% - 1em);
    min-width: calc(80% - 1em);
    max-width: calc(80% - 1em);
    margin-left: 1em;
  }
}
