{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout',
'layouts--navigation',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if not settings.full_width %}
        <div class="layout--container">
        {% endif %}
            <div class="navigation--logo">
                {{ content.logo }}
            </div>

            <div class="navigation--menu">
                {{ content.menu }}
            </div>
        {% if content.first %}
            <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
                {{ content.first }}
            </div>
        {% endif %}
        {% if not settings.full_width %}
        </div>
        {% endif %}
    </div>
{% endif %}
